<template>
  <div
    :style="{'background-image': 'url(' + require('@/assets/images/background/auth-bg.jpg') + ')'}"
  >
    <div class="main-container">
      <vs-row vs-justify="center">
        <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
          <vs-card class="cardx" fixedHeight>
            <div>
              <vs-input icon-no-border icon="account_circle" label-placeholder="icon-no-border"/>
            </div>
          </vs-card>
        </vs-col>
      </vs-row>
    </div>
  </div>
</template>

<script>
export default {
  name: "login"
};
</script>

<style>
.main-container {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 90%;
}
</style>