.main-container-fluid {
	padding: 90px 15px 40px 15px;

}

.main-container-fluid-custom {
	padding: 90px 15px 40px 15px;

}

@include media-breakpoint-up(lg) {
	.main-container-fluid {
		margin-left: 260px;
	}
	.main-container-fluid-custom {
		margin-left: 0px;
	}
}